---
//
---

<div>
    <section>
        <p id="yo">Lucas Peinado ⓘ</p>
        <span id="showarrow">+</span>
    </section>
    <a href="/LUCAS PEINADO - CV 2026.pdf">CV.PDF</a>
    <a href="https://0portfolio.lucaspeinado.es">Portfolio.WEB</a>
    <a onclick="alert('Próximamente...')">Portfolio.PDF</a>
    <a href="https://desres.lucaspeinado.es">DES.RES</a>
</div>

<style>
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(255, 255, 255, 0.8);
        z-index: 1000;
        backdrop-filter: blur(10px);
        border-top: 1px solid rgb(0, 0, 0, 0.2);
        * {
            margin: 0;
        }
    }
    a {
        font-family: "DM Serif Display", serif;
        color: rgb(255, 0, 0);
        transition: color 0.3s ease-in-out;
        text-decoration: none;
        margin-right: 10px;
    }
    a:hover {
        color: rgb(0, 0, 255);
        transition: color 0.3s ease-in-out;
        cursor: pointer;
    }
    p {
        font-family: "DM Sans", sans-serif;
        color: rgb(0, 0, 0);
        padding: 0;
        font-size: 20px;
        width: 160px;
        margin-left: 10px;
        cursor: pointer;
    }
    #showarrow {
        display: none;
    }
    section {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    @media (max-width: 768px) {
        div {
            flex-direction: column;
            align-items: flex-start;
            height: auto;
            padding: 0;
        }
        a {
            margin: 0;
            width: calc(100% - 20px);
            text-align: right;
            border: 1px solid rgb(0, 0, 0, 0.2);
            padding: 10px;
            display: none;
            font-size: 32px;
        }
        #showarrow {
            display: block;
            margin-right: 10px;
            font-size: 20px;
        }
        section {
            width: 100%;
        }
    }
</style>

<script>
    const yo = document.getElementById("yo");
    const mascosos = document.getElementById("showarrow");
    yo?.addEventListener("mouseover", () => {
        yo.innerText = "hola@lucaspeinado.es";
        yo.style.color = "rgb(20, 200, 20)";
    });
    yo?.addEventListener("mouseout", () => {
        yo.innerText = "Lucas Peinado ⓘ";
        yo.style.color = "rgb(0, 0, 0)";
    });
    yo?.addEventListener("click", () => {
        window.location.href = "mailto:hola@lucaspeinado.es";
    });

    mascosos?.addEventListener("click", () => {
        const links = document.querySelectorAll("a");
        links.forEach((link) => {
            link.style.display =
                link.style.display === "block" ? "none" : "block";
        });
        mascosos.innerHTML = mascosos.innerHTML === "+" ? "-" : "+";
    });
</script>
